---
layout: layouts/page
title: Blog
permalink: /blog/
date: 2007-05-10 00:00:02
excerpt: A list of my blog posts about design, user experience and accessibility.
tags:
- page
---

<p><a href="category">View all categories</a></p>

<ul class="post-list">
  {% for post in collections.post %}
  <li class="post-list-item">
    <h2 class="post-list-item__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p class="post-list-item__meta">{{ post.date | date: "%e %B %Y" }}</p>
    {% if post.data.excerpt %}<p class="post-list-item__text">{{ post.data.excerpt }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>