<footer class="site-footer" role="contentinfo">

  <div class="wrapper">

    <ul>
      <li>© {{ site.title }}</li>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li><i class="icon icon-social icon-twitter"><span class="visuallyhidden">Twitter</span></i> <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></li>
      <li><a {% if page.url == '/style-guide/' %}class="current page-link"{% else %}class="page-link"{% endif %} href="/style-guide/">Style&nbsp;guide</a></li>

    </ul>

  </div>

</footer>
