<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
    	<img src="{{ site.url }}assets/logo.png" alt="" height="52" width="160">
    	<p class="visuallyhidden">Benjy Stanton</p>
    	
    </a>

    <nav class="site-nav" role="navigation">
      <a {% if page.url == '/about/' %}class="current page-link"{% else %}class="page-link"{% endif %} href="/about/">About</a>
      <a {% if page.url == '/blog/' %}class="current page-link"{% else %}class="page-link"{% endif %} href="/blog/">Blog</a>
    </nav>

  </div>

</header>
