/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Box sizing
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



/**
 * Hide things
 */

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position:
  absolute;
  width: 1px; }



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;

    @include media-query($medium) {
        font-size: 20px;
        line-height: $base-line-height*1.2;
    }

    @include media-query($large) {
        font-size: 22px;
    }
}

hr {
    border: 0;
    border-bottom: 1px solid lighten($text-color, 70%);
    margin: $spacing-unit*2 0;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit/2;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1 {
    font-family: $heading-font-family;
    font-size: 32px;
    margin-bottom: $spacing-unit;

    @include media-query($medium) {
        font-size: 42px;
    }
}

small {
    font-size: $small-font-size;

    @include media-query($medium) {
        font-size: $small-font-size*1.2;
    }
}



/**
 * Links
 */
a {
    color: $brand-color;

    &:hover {
        color: darken($brand-color,10%);
    }

    &:focus {
      background-color: $brand-color;
      color: $white-color;
      outline: 3px solid $brand-color;
      text-decoration: none;
    }
    &:visited:focus {
      background-color: #800080;
      color: $white-color;
      outline: 3px solid #800080;
    }
    &:visited {
        color: #800080;
    }
    &:visited:hover {
        color: darken(#800080,10%);
    }
    &:visited:focus:hover {
        color: $white-color;
    }

}

.site-footer a {

    &:hover {
        color: $brand-color;
    }

    &:focus {
        color: $white-color;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
