// Blockquotes

blockquote {
    border-left: $spacing-unit/2 solid $black-colour;
    padding-left: $spacing-unit;
    margin: $spacing-unit*2 0;

    > :last-child {
        margin-bottom: 0;
    }
}

@media (prefers-color-scheme: dark) {
  blockquote {
      border-left-color: $medium-grey-colour;
  }
}
