// Code

pre,
code {
    background-color: $light-grey-colour;
}

code {
    padding: 0.1em 0.5em;
}

pre {
    margin-top: $spacing-unit/4;
    padding: 1em;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}