// Code

pre,
code {
    font-size: 90%;
    background-color: $light-grey-colour;
}

code {
    padding: 1px 5px;
}

pre {
    margin-top: $spacing-unit/4;
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}