// Colours

$text-colour:         #2e343b;
$light-grey-colour:   lighten($text-colour, 70%);
$medium-grey-colour:  lighten($text-colour, 50%);
$dark-grey-colour:    lighten($text-colour, 20%);
$white-colour:        #ffffff;
$brand-colour:        #007575;
$visited-colour:      $text-colour;

// Background Colours

.background--text-colour {
  background-color: $text-colour;
  color: $white-colour;
}

.background--light-grey-colour {
  background-color: $light-grey-colour;
}

.background--medium-grey-colour {
  background-color: $medium-grey-colour;
}

.background--dark-grey-colour {
  background-color: $dark-grey-colour;
  color: $white-colour;
}

.background--white-colour {
  background-color: $white-colour;
}

.background--brand-colour {
  background-color: $brand-colour;
  color: $white-colour;
}

// Background Colours

.logo svg path {
  fill: $brand-colour;
}
