// Colours

$black-colour: #2e343b;
$dark-black-colour: darken($black-colour, 10%);
$dark-grey-colour: lighten($black-colour, 20%);
$medium-grey-colour: lighten($black-colour, 50%);
$light-grey-colour: lighten($black-colour, 70%);
$white-colour: #ffffff;
$primary-colour: #007575;
$primary-colour-dark-mode: #0eb9b9;
$visited-colour: $black-colour;

// Background Colours

.background--text-colour {
  background-color: $black-colour;
  color: $white-colour;
}

.background--light-grey-colour {
  background-color: $light-grey-colour;
}

.background--medium-grey-colour {
  background-color: $medium-grey-colour;
}

.background--dark-grey-colour {
  background-color: $dark-grey-colour;
  color: $white-colour;
}

.background--white-colour {
  background-color: $white-colour;
}

.background--primary-colour {
  background-color: $primary-colour;
  color: $white-colour;
}
