// Data

.big-number {
  display: block;
  line-height: 1;
  @extend .heading-xxlarge;
}

// Progress bar

.progress-bar {
	height: $spacing-unit*3;
	background: repeating-linear-gradient(
  to right,
  $text-colour,
  $text-colour 1px,
  #fff 1px,
  #fff 3.3333333333%
  );
  padding: $spacing-unit/2 0;
  margin-bottom: $spacing-unit;
  box-shadow: 3px 0 0 $text-colour; // Use box shadow to create a border right that doesn't affect the width of the box
}

.progress-bar > span {
  display: block;
  height: 100%;
  background-color: $text-colour;
}
