// Site footer

.site-footer {
    padding: $spacing-unit 0;
    @include media-query($medium) {
      padding: $spacing-unit*3 0 $spacing-unit;
    }
    text-align: left;

    .wrapper {
        padding-top: $spacing-unit;
        border-top: 1px solid $light-grey-colour;
    }

    ul {
      list-style: none;
      margin-left: 0;
    }

    li {
      margin-bottom: $spacing-unit/2;
      @include media-query($large) {
        display: inline-block;
        margin-right: $spacing-unit;
      }
    }

    a {
        color: $text-colour;
    }
}
