// Site footer

.site-footer {
  background-color: $light-grey-colour;
  padding: $spacing-unit * 2 0 $spacing-unit;
}

.site-footer ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.site-footer li {
  margin-bottom: $spacing-unit;
  @include media-query($large) {
    display: inline-block;
    margin-right: $spacing-unit * 2;
  }
}

.site-footer a {
  color: $black-colour;
}

@media (prefers-color-scheme: dark) {
  .site-footer {
    background-color: $dark-black-colour;
  }
}
