/**
 * Wrapper
 */
.wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit/2;
    padding-left: $spacing-unit/2;
    @extend %clearfix;
}


/**
 * Grid
 */

 // The grid is currently only used in the style guide
 .row {
    @extend %clearfix;
 }

.column {
    background-color: lighten($text-color, 70%);
    padding: $spacing-unit/2;
    margin-bottom: $spacing-unit;
    float: left;

        &:nth-child(even) {
        background-color: lighten($text-color, 75%);
    }
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.third {
    width: 33.333333%;
}

.quarter {
    width: 25%;
}
