// Wrapper

.wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit/2;
    padding-left: $spacing-unit/2;
    @extend %clearfix;
}

// Page content

.page-content {
    padding: $spacing-unit 0 $spacing-unit;

    @include media-query($medium) {
      padding-top: $spacing-unit*2;
        .wrapper {
            padding-right: 20%;
        }
    }

    @include media-query($xlarge) {
        .wrapper {
            padding-right: 10%;
        }
    }

}

// Grid
// The grid is currently only used in the style guide
 .row {
    @extend %clearfix;
 }

.column {
    background-color: $light-grey-colour;
    padding: $spacing-unit/2;
    margin-bottom: $spacing-unit;
    float: left;

        &:nth-child(even) {
        background-color: $medium-grey-colour;
    }
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.third {
    width: 33.333333%;
}

.quarter {
    width: 25%;
}

// Flex grid
//https://css-tricks.com/dont-overthink-flexbox-grids/
.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-grid__col {
  margin-bottom: $spacing-unit;
  width: 100%;
}

.flex-grid__col--half {
  width: 48%;
}

.flex-grid__col--half:nth-child(odd) {
  margin-right: 2%;
}

.flex-grid__col--half:nth-child(even) {
  margin-left: 2%;
}

.flex-grid__col--third {
  width: 32%;
  margin-right: 2%;
}

.flex-grid__col--third:nth-child(3) {
  margin-right: 0;
}
