// Site header

.site-header {
    padding-top: $spacing-unit;
    text-align: center;

    @include media-query($medium) {
        text-align: left;
    }

    a {

        &:visited {
          color:$brand-colour;
        }
        &:hover,
        &:focus {
          color:$white-colour;
          background-color: $brand-colour;
          outline: 3px solid $brand-colour;
        }
        &.logo:hover {
          background-color: $white-colour;
        }
    }

    .logo:focus {
      background-color: $white-colour;
    }

    img {
        padding: 0;
        width:160px;
    }
}

.site-nav {

    margin-top: $spacing-unit;

    @include media-query($medium) {
        float: right;
        margin-top: $spacing-unit/2;
    }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 1em;
        }

    }

    a.current {
      color: $text-colour;
      text-decoration: none;

        &:hover,&:focus {
          color: $white-colour;
        }
    }
}

// Make skiplinks visible when they are tabbed to

.skiplink {
  position: absolute;
  left: -9999em;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}
