// Site header

.site-header {
    padding-top: $spacing-unit;
    text-align: left;

    a {

        &:visited {
          color:$primary-colour;
        }
        &:hover,
        &:focus {
          color:$white-colour;
          background-color: $primary-colour;
          outline: 3px solid $primary-colour;
        }
        &.logo:hover,
        &.logo:focus {
          background-color: $primary-colour;
          outline:0px;
        }
        &.logo:hover svg path,
        &.logo:focus svg path {
          fill: $white-colour;
        }
    }

    .logo {
      display: inline-block;
    }

    .logo:focus {
      background-color: $white-colour;
    }

    .logo svg {
      // Base size for small and css-free layouts is set inside the SVG
      margin-bottom: 0;
      @include media-query($medium) {
        width: 180px;
      }
      @include media-query($large) {
        width: 200px;
      }
      path {
        fill: $primary-colour;
      }

    }
}

.site-nav {

    margin-top: $spacing-unit/3;

    // @include media-query($medium) {
    //     float: right;
    //     margin-top: $spacing-unit/2;
    // }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: $spacing-unit/2;
        }

    }

    a.current {
      color: $text-colour;
      text-decoration: none;

        &:hover,&:focus {
          color: $white-colour;
        }
    }
}

// Make skiplinks visible when they are tabbed to

.skiplink {
  position: absolute;
  left: -9999em;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}
