// Site header

.site-header {
  padding-top: $spacing-unit * 2;
}

.site-header a {
  color: $primary-colour;
}

@media (prefers-color-scheme: dark) {
  .site-header a {
    color: $primary-colour-dark-mode;
  }
}

.site-header a:hover,
.site-header a:focus {
  color: $white-colour;
  background-color: $primary-colour;
  outline: 3px solid $primary-colour;
}

@media (prefers-color-scheme: dark) {
  .site-header a:hover,
  .site-header a:focus {
    color: $black-colour;
    background-color: $primary-colour-dark-mode;
    outline-color: $primary-colour-dark-mode;
  }
}

.site-header a.logo:hover,
.site-header a.logo:focus {
  outline: 0px;
}

.site-header .logo {
  display: inline-block;
}

.site-header .logo svg {
  margin-bottom: 0;
}

.site-nav {
  margin-top: $spacing-unit;
}

.site-nav .page-link {
  line-height: $base-line-height;
}

// Gaps between nav items, but not on the first one
.site-nav .page-link:not(:first-child) {
  margin-left: $spacing-unit;
}

.site-nav .current {
  color: $black-colour;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .site-nav .current {
    color: $white-colour;
  }
}

// Make skiplinks visible when they are tabbed to

.skiplink {
  position: absolute;
  left: -9999em;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}
