/**
 * Site header
 */
.site-header {
    padding-top: $spacing-unit;

    a {
        border: none;
    }

}

.site-title {
    font-size: 18px;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;
    font-size: 14px;

    .page-link {
        color: $brand-color;
        line-height: $base-line-height;
        text-transform: uppercase;

        &:hover, &:focus {
            color: darken($brand-color, 10%);
            transition: border-color .2s, color .2s;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    text-align: left;
    color: lighten($text-color, 60%);

    .wrapper {
        padding-top: $spacing-unit;
        border-top: 1px solid lighten($text-color, 90%);
    }

    a {
        margin-left: 1em;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*2 0;

    @include media-query($medium) {

    .wrapper {
        padding-right: 25%;
    }


    }

    
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    li h2 {
        margin-top: 0;
    }

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: lighten($text-color, 50%);
}

.post-link {
    font-size: 24px;
}



/**
 * Posts
 */


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        margin-top: $spacing-unit*2;
    }

    h3 {
        font-size: 26px;
        margin-top: $spacing-unit;
    }

    h4 {
        font-size: 20px;
        margin-top: $spacing-unit;
    }
}
