// Layout

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*2 0 $spacing-unit;

    @include media-query($medium) {
        .wrapper {
            padding-right: 30%;
        }
    }

    @include media-query($large) {
        .wrapper {
            padding-right: 20%;
        }
    }

}

.post-list {
    margin-left: 0;
    list-style: none;

    li h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: lighten($text-color, 20%);

    @include media-query($medium) {
        font-size: $small-font-size*1.2;
    }
}
