// Layout

/**
 * Wrapper
 */
.wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit/2;
    padding-left: $spacing-unit/2;
    @extend %clearfix;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit*3 0 0;
    text-align: left;

    .wrapper {
        padding-top: $spacing-unit;
        border-top: 1px solid lighten($text-color, 70%);
    }

    a {
        color: $text-color;
    }
}

.site-footer-credit, .site-footer-email, .site-footer-icons {
    text-align: center;
    margin-bottom: 1em;

    @include media-query($medium) {
        float: left;
        margin-right: 2em;
    }
}

.site-footer-icons {
    margin-top: 1.5em;

    @include media-query($medium) {
        margin-top: 0;
    }
}

.site-footer-icons a {
  text-decoration: none;
    margin-right: 1em;

    &:last-child {
        margin-right: 0;
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*2 0 $spacing-unit;

    @include media-query($medium) {
        .wrapper {
            padding-right: 30%;
        }
    }

    @include media-query($large) {
        .wrapper {
            padding-right: 20%;
        }
    }

}

.post-list {
    margin-left: 0;
    list-style: none;

    li h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: lighten($text-color, 20%);

    @include media-query($medium) {
        font-size: $small-font-size*1.2;
    }
}



/**
 * Posts
 */
.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        margin-top: $spacing-unit*2;
    }

    h3 {
        font-size: 26px;
        margin-top: $spacing-unit*2;
    }

    h4 {
        font-size: 20px;
        margin-top: $spacing-unit;
    }
}



/**
 * Grid
 */
 .row {
    @extend %clearfix;
 }

.column {
    background-color: lighten($text-color, 70%);
    padding: $spacing-unit/2;
    margin-bottom: $spacing-unit;
    float: left;

        &:nth-child(even) {
        background-color: lighten($text-color, 75%);
    }
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.third {
    width: 33.333333%;
}

.quarter {
    width: 25%;
}
