/**
 * Links
 */
a {
    color: $primary-colour;
}

@media (prefers-color-scheme: dark) {
    a {
        color: $primary-colour-dark-mode;
    }
}

a:hover,
a:focus {
    background-color: $primary-colour;
    color: $white-colour;
    outline: 3px solid $primary-colour;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    a:hover,
    a:focus {
        background-color: $primary-colour-dark-mode;
        outline-color: $primary-colour-dark-mode;
        color: $black-colour;
    }
}

a:visited:hover,
a:visited:focus {
    background-color: $visited-colour;
    color: $white-colour;
    outline: 3px solid $visited-colour;
}

@media (prefers-color-scheme: dark) {
    a:visited:hover,
    a:visited:focus {
        background-color: $white-colour;
        outline-color: $white-colour;
        color: $black-colour;
    }
}

a:visited {
    color: $visited-colour;
}

@media (prefers-color-scheme: dark) {
    a:visited {
        color: $white-colour;
    }
}

a:visited:focus:hover {
    color: $white-colour;
}

.site-footer a:hover,
.site-footer a:focus {
    color: $white-colour;
    background-color: $primary-colour;
    outline: 3px solid $primary-colour;
}
