// Tables

table {
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom: $spacing-unit;
}

thead {
  border-top: $spacing-unit/4 solid $text-colour;
}

thead th {
  font-weight: bold;
}

th {
  vertical-align: text-top;
}

th[scope=row], td {
  vertical-align: text-top;
}

td, th {
  border-bottom: 1px solid $text-colour;
  text-align: left;
  padding: $spacing-unit/4 $spacing-unit $spacing-unit 0;
  line-height: $base-line-height;
}

td:last-child, th:last-child {
  padding-right: 0;
}

.cell--right {
  text-align: right;
}

caption {
  text-align: left;
}
