// Tables

table {
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom: $spacing-unit;
}

thead {
  border-top: $spacing-unit/4 solid $black-colour;
}

@media (prefers-color-scheme: dark) {
  thead {
    border-top-color: $dark-grey-colour;
  }
}

thead th {
  font-weight: bold;
}

th {
  vertical-align: text-top;
}

th[scope=row], td {
  vertical-align: text-top;
}

td, th {
  border-bottom: 1px solid $black-colour;
  text-align: left;
  padding: $spacing-unit/4 $spacing-unit $spacing-unit 0;
  line-height: $base-line-height;
}

@media (prefers-color-scheme: dark) {
  td, th {
    border-bottom-color: $dark-grey-colour;
  }
}

td:last-child, th:last-child {
  padding-right: 0;
}

.cell--right {
  text-align: right;
}

caption {
  text-align: left;
}
