// Reset

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

// Variables

$base-font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$heading-font-family: $base-font-family;
$base-font-size: 1rem;
$small-font-size: 0.8rem;
$base-line-height: 1.5;
$spacing-unit: 1rem;

// Basic styling

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-colour;
  @include media-query($medium) {
    font-size: $base-font-size * 1.4;
    line-height: $base-line-height * 1.1;
  }
}

// Vertical rhythm

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
figcaption,
small,
svg,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
  @include media-query($medium) {
    margin-bottom: $spacing-unit * 1.2;
  }
}

// Heading spacing

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $spacing-unit;
  @include media-query($medium) {
    margin-top: $spacing-unit * 3;
  }
  line-height: 1.1;
  font-weight: 900;
  font-family: $heading-font-family;
}

.heading-xxlarge {
  font-size: 3rem;
  @include media-query($medium) {
    font-size: 4rem;
  }
  @include media-query($large) {
    font-size: 5rem;
  }
  font-weight: 900;
}

h1,
.heading-xlarge {
  font-size: 2rem;
  margin-top: $spacing-unit;
  @include media-query($medium) {
    font-size: 3rem;
  }
  @include media-query($large) {
    font-size: 4.5rem;
  }
  font-weight: 900;
}

h2,
.heading-large {
  font-size: 1.5rem;
  @include media-query($medium) {
    font-size: 2rem;
    margin-top: $spacing-unit * 4;
  }
  font-weight: 900;
}

h3,
.heading-medium {
  font-size: 1.2rem;
  @include media-query($medium) {
    font-size: 1.5rem;
  }
  font-weight: 900;
}

h4,
.heading-small {
  font-size: 1rem;
  @include media-query($medium) {
    font-size: 1.2rem;
  }
  font-weight: 900;
}

small {
  font-size: $small-font-size;
  @include media-query($medium) {
    font-size: $small-font-size * 1.2;
  }
  color: $dark-grey-colour;
  display: inline-block;
}

.text-small {
  font-size: $small-font-size;
  color: $dark-grey-colour;
  @include media-query($medium) {
    font-size: $small-font-size * 1.2;
  }
}

.lede {
  font-size: 1.2rem;
  @include media-query($medium) {
    font-size: 1.5rem;
  }
  @include media-query($large) {
    font-size: 1.8rem;
  }
}

// Lists

ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// Definition list

dt {
  font-weight: bold;
}

dd {
  margin-bottom: $spacing-unit;
}

// Inline list

.list-inline {
  list-style: none;
  margin-left: 0;
}

.list-inline__item {
  display: inline-block;
  margin-right: $spacing-unit/3;
  margin-bottom: $spacing-unit/3;
}

// Pair list

.list-pairs {
  list-style: none;
  margin-left: 0;
}

.list-pairs li {
  margin-bottom: $spacing-unit/2;

  @include media-query($medium) {
    margin-bottom: $spacing-unit/2;
  }
}

.list-pairs__name {
  font-weight: bold;
}

// Horizontal rule

hr {
  border: 0;
  border-bottom: $spacing-unit/4 solid $text-colour;
  margin: $spacing-unit * 2 0;

  @include media-query($medium) {
    margin: $spacing-unit * 4 0;
  }
}

// Counters

.counter {
  display: inline-block;
  width: 1.6em;
  text-align: center;
  border-radius: 50%;
}
