// Typography

$base-font-family: "omnes-pro", sans-serif;
$heading-font-family: "quatro-slab", sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.5;
$spacing-unit:     36px;
