// Reset

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Variables

$base-font-family:    "source-sans-pro",sans-serif;
$heading-font-family: "quatro-slab", sans-serif;
$base-font-size:      18px;
$small-font-size:     16px;
$base-line-height:    1.4;
$spacing-unit:        36px;

// Basic styling

body {
  font-family:      $base-font-family;
  font-size:        $base-font-size;
  line-height:      $base-line-height;
  color:            $text-colour;
  // -webkit-text-size-adjust: 100%;

  @include media-query($medium) {
      font-size: 20px;
      line-height: $base-line-height*1.2;
  }

  @include media-query($large) {
      font-size: 22px;
  }
}

// Vertical rhythm

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit/2;
}

// Heading spacing

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: $spacing-unit;
  @include media-query($medium) {
    margin-top: $spacing-unit*2;
  }
}

h1 {
  margin-bottom: $spacing-unit;
  margin-top: 0;
}

// Heading spacing

.heading-xxlarge {
  font-family: $heading-font-family;
  font-size: 56px;
  @include media-query($medium) {
    font-size: 74px;
  }
}

h1, .heading-xlarge {
  font-family: $heading-font-family;
  font-size: 32px;
  @include media-query($medium) {font-size: 44px;}
  @include media-query($large) {font-size: 56px;}
}

h2, .heading-large {
  font-size: 28px;
  @include media-query($medium) {font-size: 32px;}
  font-weight: bold;
}

h3, .heading-medium {
  font-size: 22px;
  @include media-query($medium) {font-size: 26px; margin-top: $spacing-unit;}
  font-weight: bold;
}

h4, .heading-small {
  font-size: 18px;
  @include media-query($medium) {font-size: 20px;}
  @include media-query($large) {font-size: 22px;}
  font-weight: bold;
}

small {
  font-size: $small-font-size;
}

.post-meta {
  font-size: $small-font-size;
  color: $dark-grey-colour;
  margin-bottom: 0;
}

// Lists

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
       margin-bottom: 0;
  }
}

// Inline list

.list-inline {
  list-style: none;
  margin-left: 0;

  li {
    display: inline-block;
    margin-right: $spacing-unit/3;
    margin-bottom: $spacing-unit/3;
  }
}

// Pair list

.list-pairs {
  list-style: none;
  margin-left: 0;
}

.list-pairs li {
  margin-bottom: $spacing-unit/2;
}

.list-pairs__name {
  font-weight: bold;
}

// Horizontal rule

hr {
  border: 0;
  border-bottom: 1px solid $light-grey-colour;
  margin: $spacing-unit 0;
  @include media-query($medium) {
    margin: $spacing-unit*2 0;
  }
}
