// Box sizing

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Hide things
// Hide only visually, but have it available for screenreaders: h5bp.com/v

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position:
  absolute;
  width: 1px; }


// Clearfix
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Spacing classes
.padding--s {
  padding: $spacing-unit/3 $spacing-unit/2;
}

.margin-top--m {
  margin-top: $spacing-unit*2;
}

// border
.border {
  border: 1px solid $light-grey-colour;
}
