// Code

pre,
code {
    background-color: $light-grey-colour;
}

@media (prefers-color-scheme: dark) {
    pre,
    code {
        background-color: $dark-black-colour;
    }
}

code {
    padding: 0.1em 0.5em;
}

pre {
    margin-top: $spacing-unit/4;
    padding: 1em;
    overflow-x: scroll;
}

pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}
