// Images

img {
  height: auto;
  width: 100%;
  vertical-align: middle;
  @include media-query($medium) {
    margin: 0 0 $spacing-unit 0;
  }
}

.image-xs {
  height: auto;
  width: $spacing-unit * 2;
  border-radius: 50%;
}

.image-s {
  height: auto;
  width: $spacing-unit * 4;
  border-radius: 50%;
}

.image-m {
  height: auto;
  width: $spacing-unit * 8;
  border-radius: 50%;
}

.post-content img {
  border: 1px solid $light-grey-colour;
}

@media (prefers-color-scheme: dark) {
  .post-content img {
    border-color: $dark-grey-colour;
  }
}

figure {
  @include media-query($medium) {
    margin-bottom: $spacing-unit * 2;
  }
}

figure img {
  margin-bottom: $spacing-unit/4;
}

figure figcaption span {
  display: block;
}

svg {
  fill: currentColor;
}

.map {
  fill: $primary-colour;
  stroke-width: 1;
  stroke: white;
}
