// Box sizing

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Hide things
// Hide only visually, but have it available for screenreaders: h5bp.com/v

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position:
  absolute;
  width: 1px; }


// Clearfix
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Spacing classes
.padding--s {
  padding: $spacing-unit;
}

.padding-right--s {
  padding-right: $spacing-unit;
}

.padding-left--s {
  padding-left: $spacing-unit;
}

.margin-top--0 {
  margin-top: 0;
}

.margin-top--xs {
  margin-top: $spacing-unit/4;
}

.margin-top--s {
  margin-top: $spacing-unit;
}

.margin-top--m {
  margin-top: $spacing-unit*2;
}

.margin-right--xs {
  margin-right: $spacing-unit/4;
}

.margin-right--s {
  margin-right: $spacing-unit;
}

.margin-right--m {
  margin-right: $spacing-unit*2;
}

.margin-bottom--0 {
  margin-bottom: 0;
}

.margin-bottom--xs {
  margin-bottom: $spacing-unit/4;
}

.margin-bottom--s {
  margin-bottom: $spacing-unit;
}

.margin-bottom--m {
  margin-bottom: $spacing-unit*2;
}

// border
.border {
  border: 1px solid $light-grey-colour;
}

@media (prefers-color-scheme: dark) {
  .border {
    border-color:$dark-grey-colour;
  }
}

// align
.align-right {
  text-align: right;
}

// width
.width-50 {
  width: 50%;
}
