body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
@media screen and (min-width: 40em) {
    body {
        font-size: 1.4em;
        line-height: 1.65;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
}
code {
    font-size: 1.2em;
    white-space : pre-wrap;
}
img {
    height: auto;
    width: 100%;
}