body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
}
@media screen and (min-width: 40em) {
    body {
        font-size: 1.4em;
        line-height: 1.65;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
    padding: 1em;
}
article {
    padding-bottom: 2em;
}
code {
    font-size: 1.2em;
    white-space : pre-wrap;
}
img {
    height: auto;
    width: 100%;
}
/* Header */
.header {
    background-color: #eee;
    padding: 0.5em 0;
}
.header__name {
    margin-bottom: 1em;

}
.header_navigation-list {
    margin: 0;
    padding: 0;
}
.header__navigation-item {
    display: inline-block;
    margin-right: 1em;
}
/* Footer */
.footer__inline-list {
    padding: 0;
}
.footer__inline-list-item {
    display: inline-block;
    margin-right: 1em;
}
/* By line */
.by-line__tags-item {
    display: inline-block;
}
.by-line__tags-item:not(:last-child):after {
    content: ',';
}