<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% capture categories %}
  {% for categories in page.categories %}
  <a href="/blog/category/{{categories}}">{{categories}}</a>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
  {% endcapture %}

  <body>

    {% include header.html %}

    <main role="main">

      <div class="page-content" id="content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

    </main>

    {% if page.footer != false %}
    {% include footer.html %}
    {% endif %}

  </body>

</html>
