---
layout: default
---

{% capture categories %}
{% for categories in page.categories %}
<a href="/blog/category/{{categories}}">{{categories}}</a>
{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endcapture %}

<article class="post-content" role="article">
  <figure class="margin-bottom--xs">
    <img src="{{ site.url }}/assets/{{ page.image }}" alt="{{ page.image-alt }}" />
    <figcaption class="margin-bottom--0 margin-top--xs">
      <h1 class="heading-large margin-bottom--0">{{ page.title }}</h1>
    </figcaption>
  </figure>
  {% if page.is_post %}<p class="text-small">{{ page.date | date: "%e %B %Y" }} • {{categories}}</p>
  {% endif %}
  {{ content }}
</article>

{% if page.is_post %}<p class="margin-top--m"><a href="/blog">← Back to the blog</a></p>{% endif %}
