---
layout: default
---

{% capture categories %}
{% for categories in page.categories %}
<a href="/blog/category/{{categories}}">{{categories}}</a>
{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endcapture %}

<article class="post-content h-entry" role="article">
  <header class="post-header">
    <h1 class="post-title p-name">{{ page.title }}</h1>
    <p class="text-small">By <a rel="author" class="p-author h-card" href="{{ site.url }}">Benjy Stanton</a> on
<span class="dt-published">{{ page.date | date: "%e %B %Y" }}</span> • <span class="p-category">{{categories}}</span></p>
  </header>
  <div class="e-content">
    {{ content }}
  </div>
</article>

{% if page.is_post %}<p class="margin-top--m"><a href="/blog">← Back to the blog</a></p>{% endif %}
