<div class="by-line">
  <ul class="by-line__list">
    <li class="by-line__list-item">
      <span class="by-line__list-item-key">Author</span>
      <span class="by-line__list-item-value">
        <a class="p-author h-card" rel="author" href="{{ site.url }}">Benjy Stanton</a>
      </span>
    </li>
    <li class="by-line__list-item">
      <span class="by-line__list-item-key">Date</span>
      <span class="by-line__list-item-value">
        <a class="u-url" href="{{ page.url }}"><time class="dt-published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%-e %B %Y' }}</time></a>{% if last_modified_at %} (updated {{ last_modified_at }}){%- endif %}
      </span>
    </li>
    <li class="by-line__list-item">
      <span class="by-line__list-item-key">Category</span>
      <span class="by-line__tags">
      {%- for tag in tags -%}
      {%- if tag == "post" -%}
      {%- continue -%}
      {% else %}
      <span class="by-line__tags-item">#<a class="p-category" href="/blog/category/{{ tag | slug }}">{{ tag | skip: "post" }}</a></span>
      {%- endif -%}
      {%- endfor %}
    </span></li>
  </ul>
</div>
