<div class="container"><a href="#main-content" class="skip-link ">Skip to content</a></div>
<header class="header" role="banner">
  <div class="container">
    <div class="header__name">
      <a href="{{ site.baseurl }}/">Benjy Stanton</a> — Available {{ site.availability }}
    </div>
    <div class="header__content">
      <nav aria-label="Primary navigation">
        <ul class="header_navigation-list">
          <li class="header__navigation-item">
            <a{% if page.url=='/' %} aria-current="page" {% endif %} href="/">Home</a>
          </li>
          <li class="header__navigation-item">
            <a{% if page.url=='/about/' %} aria-current="page" {% endif %} href="/about/">About</a>
          </li>
          <li class="header__navigation-item">
            <a{% if page.url=='/blog/' %} aria-current="page" {% endif %} href="/blog/">Blog</a>
          </li>
          <li class="header__navigation-item">
            <a{% if page.url=='/style-guide/' %} aria-current="page" {% endif %} href="/style-guide/">Style guide</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>