<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.url == "/" %}Benjy Stanton – Interaction designer{% else %}{{ title }} – {{ site.name }}{% endif %}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}{{ "/feed.xml"}}" />
  {% if excerpt %}<meta name="description" content="{{ excerpt }}">{% endif %}
</head>