<a href="#main-content">Skip to main content</a>

<header>

  <p><a href="{{ site.baseurl }}/">Benjy Stanton</a></p>

  <nav class="site-nav">
    <a {% if page.url=='/' %} aria-current="page" {% endif %} href="/">Home</a>
    <a {% if page.url=='/about/' %} aria-current="page" {% endif %} href="/about/">About</a>
    <a {% if page.url=='/blog/' %} aria-current="page" {% endif %} href="/blog/">Blog</a>
    <a {% if page.url=='/style-guide/' %} aria-current="page" {% endif %} href="/style-guide/">Style guide</a>
  </nav>

</header>