<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.url == "/" %}Benjy Stanton – Interaction designer and service designer{% else %}{{ title }} – {{ site.name }}{% endif %}</title>
  <link rel='stylesheet' href='/css/style.css'>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}{{ "/feed.xml"}}">
  {% if excerpt %}<meta name="description" content="{{ excerpt }}">{% else %}<meta name="description" content="{{ site.description }}">{% endif %}
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Webmentions -->
  <link rel="webmention" href="https://webmention.io/www.benjystanton.co.uk/webmention" />
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:site" content="benjystanton"> 
  <meta name="twitter:title" content="{% if title %}{{ title }}{% else %}Benjy Stanton{% endif %}"> 
  {% if excerpt %}<meta name="twitter:description" content="{{ excerpt }}">{% else %}<meta name="twitter:description" content="{{ site.description }}">{% endif %}
  {% if image %}<meta name="twitter:image" content="{{ site.url }}/images/{{ image }}">{% endif %}
  {% if image-alt %}<meta name="twitter:image:alt" content="{{ image-alt }}">{% endif %}
  <!-- Open Graph data -->
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}Benjy Stanton{% endif %}" />
  {% if excerpt %}<meta property="og:description" content="{{ excerpt }}" />{% else %}<meta property="og:description" content="{{ site.description }}" /> {% endif %}
  <meta property="og:site_name" content="{{ site.name }}" />
  <meta property="og:locale" content="en_GB" />
  {% if image %}<meta property="og:image" content="{{ site.url }}/images/{{ image }}" />{% endif %}
  {% if image-alt %}<meta property="og:image:alt" content="{{ image-alt }}" />{% endif %}
</head>